
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a href=" {{path('home')}} " class="navbar-brand">
			237Fact Agency
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a href="{{path('property.index')}}" class="nav-link {% if current_menu_buy is defined and current_menu_buy =='buy' %} active {% endif %}">
					{% trans %}
					Buy
					{% endtrans %}
					</a>
				</li>
				{% if app.user %}
					{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item"><a class="nav-link {% if current_menu_properties is defined and current_menu_properties =='properties' %} active {% endif %}" href= "{{path('admin.property.index')}}"> {% trans %} Properties {% endtrans %}  </a></li>
						<li class="nav-item"><a class="nav-link {% if current_menu_options is defined and current_menu_options =='options' %} active {% endif %}" href= "{{path('admin.option.index')}}"> {% trans %} Options {% endtrans %}  </a></li>
					{% endif %}
					<li class="nav-item">
						<a href="{{path('logout')}}" class="nav-link">
							{% trans %}
							Logout
							{% endtrans %}
						</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a href="{{path('login')}}" class="nav-link {% if current_menu is defined and current_menu =='login' %} active {% endif %}">
							{% trans %}
							Login
							{% endtrans %}
						</a>
					</li>
				{% endif %}
			
				
				{% for locale in locales %}
					{% if locale != app.request.locale %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('change_locale',{'locale':locale}) }}">
								{% if locale == 'fr' %}
									|
									<img src="{{asset('build/images/france.png')}}" class="rounded" width="25" height="25" title="France" alt="France"/>
								{% else %}
									|
									<img src="{{asset('build/images/england.png')}}" class="rounded" width="25" height="25" title="France" alt="France"/>
								{% endif %}
							</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</nav>
